.headWrapp{
	height: 100vh;
	background-image: url(../img/background-image.jpg);
	width: 100%;
	background-size: cover;
}
.navbar-default .navbar-brand{
	color: gold;
}

.text-center a{
font-size: 35px;
color: #fff;
background-color: gold;
border-radius: 25px;
padding: 25px;
transition: color 0.5s, background-color 1s;
}
.text-center a:hover{
	text-decoration: none;
	color: gold;
	background-color: transparent;

}
.textWrapp{
	padding-top: 200px;
}

section .row{
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;


}
.services{
	height: 90vh;
	background-color: 
	
}
.h1{
	text-align: center;
}

section .row img{
	max-width: 100%;
}


section .row h3{
	margin-top: 10px;
	font-weight: 600;
}
.idea{
	display: inline-block;
}
.serviceWrapp:hover{
	font-size: 125%;
	
}
.serviceWrapp{
	transition: font-size 0.5s;
	height: 100px;
}
@media screen and (max-width: 520px){
	.text-center a{
		font-size: 25px;
	}
}
@media screen and (max-width: 400px){
	.text-center a{
		font-size: 20px;
	}
}
@media screen and (max-width: 330px){
	.text-center a{
		font-size: 15px;
	}
}
.feature{
	height: 80vh; 
	background-color: #948dff;
	background-size: cover;
}	
.feature .container{
	/*height: 100%;*/
}
.feature .row{
	/*width: 100%;*/
}
.textMini{
	top: 50%;
	position: relative;
	transform: translateY(50%);
}
.textMini i{
	font-size: 100px;

}
.featureTable {
	text-align: center;
}
.comment .emailText{
	height: 50px;
}
.comment .textComment{
	height: 100px;
}
.comment{
	padding-bottom: 100px;
}

